<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <a href="/login"><h3>Log-in</h3></a>
    <a href="/sign-up"><h3>Sign-up</h3></a>
    <% if(messages.length === 0) {%>
        <h3>No messages to show</h3>
    <% } %> 
  </body>
</html>
